/* PALETTE */



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* DEBUGGING */
.debug header {
    background-color: aqua;
    padding: 10;
    padding: 10px 0;
}

.debug .container {
    background-color: rgb(255, 217, 0);
    border: 1px solid;
}

.debug .container>div {
    border: 1px dotted;
}

.debug .banner {
    background-color: blue;
    height: 500px;
}

.debug .banner_content {
    background-color: fuchsia;
    height: 400px;
}

.debug .section_row {
    height: 500px;
}

.debug .col-8 {
    background-color: rgb(83, 83, 228);
}

.debug .col-4 {
    background-color: pink;
}

.debug .footer_container {
    width: 50%;
    background-color: green;
}

/* COLUMNS */
.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
    text-align: center;
}

.col-6 {
    width: calc((100% / 12) * 6);
    text-align: center;
}

.col-8 {
    width: calc((100% / 12) * 8);
    text-align: center;
}


[class^=col-] {
    padding: 5px;
}


.container {
    width: 70%;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
}

.banner_content {
    width: 50%;
    margin: 0 auto;
}

.container {
    display: flex;
}

.login {
    text-align: right;
}

.first_section,
.second_section,
.third_section {
    width: 100%;
    align-items: center;
    background-color: white;
    padding: 40px 0;
}

.section_row {
    display: flex;
    width: 50%;
    margin: 0 auto;

}

.grey {
    background-color: lightgray;
}

footer {
    background-color: rgb(31, 31, 32);
    padding: 40px 0;
}

.footer_container {
    width: 50%;
    margin: 0 auto;
}